<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us Form</title>
</head>
<body>

<h2>Contact Us</h2>

<form>
<fieldset>
<legend>Contact Information</legend>
	<table> 
		<tr>
			<td>Full Name</td>
			<td><input type="text" id="fullname" name="fullname" required><br></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><input type="email" id="email" name="email" required><br></td>
		</tr>
		<tr>
			<td>Message</td>
			<td><textarea id="message" name="message" rows="4" required></textarea><br></td>
		</tr>
		<tr>
			<td><input type="reset" value="Reset"></td>
			<td><input type="submit" value="Submit"></td>
		</tr>
	</table>
</fieldset>
</form>
<script src="../../scripts/contact_us/contact_us.js"></script>
</body>
</html>
