<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../../styles/user_authentication/user_authentication.css"
    />
    <link rel="stylesheet" href="../../styles/global.css" />
    <title>CareerSphere | Forgotten Password</title>
  </head>
  <body>
    <section class="auth_section">
      <h1 class="auth_nav">CareerSphere</h1>
      <div class="auth_container">
        <div class="auth_header">
          <h2>Forgotten Password</h2>
          <p>Enter your email address to reset your password</p>
        </div>
        <form>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            class="auth_input"
            required
          /><br /><br />
          <button type="submit" class="auth_submit">Request Password Reset</button>
        </form>
        <p><a href="./login.html" class="auth_link">Go back to login </a></p>
      </div>
    </section>
  </body>
</html>
