<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CareerSpher | Forgotten Password</title>
  </head>
  <body>
    <h2>Forgotten Password?</h2>
    <p>Enter your email address to request a password reset.</p>
    <form>
      <input type="email" id="email" name="email" placeholder="Email" required /><br /><br />
      <a href="./reset_password.html"><button type="submit">Request Password Reset</button></a>
    </form>
    <p><a href="./login.html" class="auth_link">Go back to login </a></p>
  </body>
</html>
