<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../../styles/user_authentication/user_authentication.css"
    />
    <link rel="stylesheet" href="../../styles/global.css" />
    <title>CareerSphere | Register</title>
  </head>
  <body>
    <section class="auth_section">
      <h1 class="auth_nav">CareerSphere</h1>
      <div class="auth_container">
        <div class="auth_header">
          <h2>Register</h2>
          <p>
            or <a href="./login.html" class="auth_link">login to an account</a>
          </p>
        </div>
        <form>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Username"
            class="auth_input"
            required
          /><br /><br />
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            class="auth_input"
            required
          /><br /><br />
          <div class="auth_input_container">
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Password"
              class="auth_input"
              required
            />
            <img
              src="../../assets/img/eye_show.png"
              alt="toggle icon"
              class="toggle_icon"
              id="toggle_icon"
              onclick="togglePasswordVisibility()"
            />
          </div>
          <br />
          <div class="auth_input_container">
            <input
              type="password"
              id="confirm_password"
              name="confirm_password"
              placeholder="Confirm Password" 
              class="auth_input"
              required
            />
            <img
              src="../../assets/img/eye_show.png"
              alt="toggle icon"
              class="toggle_icon"
              id="confirm_toggle_icon"
              onclick="togglePasswordVisibility()"
            />
          </div>
          <br />
          <button type="submit" class="auth_submit">Register</button>
        </form>
        <p>
          <a href="./forgotten_password.html" class="auth_link"
            >Forgotten your password?
          </a>
        </p>
      </div>
    </section>

    <script src="../../scripts/user_authentication/toggle_password.js"></script>
  </body>
</html>
