<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CareerSpher | Register</title>
  </head>
  <body>
    <h2>Reset Password</h2>
    <p>Type your new password</p>
    <form>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
        required
      /><br /><br />
      <input
        type="password"
        id="confirm_password"
        name="confirm_password"
        placeholder="Confirm Password"
        required
      /><br /><br />
      <a href="./reset_password.html"><button type="submit">Reset Password</button></a>
    </form>
    <p><a href="./login.html" class="auth_link">Go back to login </a></p>
  </body>
</html>
